@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p>This is the Homepage page for our first ASP>NET Core MVC app.</p>
</div>